*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white; /* For browsers that do not support gradients */
  background-image: linear-gradient(to left, #6E4D5A, #88808F, #DDD5DA); /* Standard syntax (must be last) */
}


#navbar {
  overflow: hidden;
  background-color: white;
  background-image: linear-gradient(to left, #6E4D5A, #88808F, #DDD5DA); /* Standard syntax (must be last) */
  top:0;
}


.menu {
  color: #340C18;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  float: right;
  text-transform: uppercase;
  text-align: right;
  overflow:hidden;
}

.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
}

.menu a.active {
  background-color: #4CAF50;
  color: white;
}

.menu .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu a:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .menu.responsive {position: relative;}
  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*** header + footer ***/
.contenttop{
  display: inline-block;
  width: 100%
}
@media(max-width: 768px) and (max-width: 1024px) {
  .contenttop{
    float: left;
    width: 100%;
  }
}



hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  width:100%;
  border-width: 1px;
}

@media(max-width: 768px) and (max-width: 1024px) {
    hr{
    float: left;
    width: 100%;
  }
}
.container-class {
  position: relative;
  padding-top: 10px;
  display: block;
}

@media(max-width: 768px) {
  .container-class {
    top: 0;
    width:100%;
    float:left;
  }
}
@media(min-width: 1199px) {
  .container-class {
    top: 0;
    width:100%;
    float:left;
  }
}

.maintitle {
  display: inline-block;
 text-align: center;
 width: 100%;
 padding-top: 10px;
 padding-left: 50px;

}
@media(max-width: 768px) and (max-width: 1024px) {
  .maintitle {
    width:100%;
    float: left;
    text-align: left;
  }
}

.main-link {
  line-height: 2;
  font-weight: 700;
  color: white;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  text-align: center;
  display:inline-block;
  justify-content: center;
  margin: 5px;
  padding-right: 20px;
}

.main-link1:hover {
  color: #5B2423;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .main-link, .main-link1 {
    font-size: 16px;
    line-height: 22px;
  }
}

.logo-top {
  width: 106px;
  height: auto;
  display:inline-block;
  float:left;
  margin: 10px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .logo-top, .maintitle{
    float: left;
    width: auto;
    max-width: 100% ;
    height: auto ;
    padding: 20px;
  }
}


.content-box{
  float: left;
  width: 100%;
  display: inline-block;

}
@media(max-width: 768px) and (max-width: 1024px) {
  .content-box {
    float:left;
    width:100%;
   padding: 20px;
  }
}
.sticky {
  position: fixed;
  top:0;
  width:100%;
}

.sticky + .content-box {
  padding-top: 80px;
}




.bottom-footer {
  position:relative;
  float:left;
  padding-top: 10px;
  padding-bottom: 10px;
  display:inline-block;
  width: 100%;
  height:auto
}

.bottom-footer-links {
    width: 100%;
    text-align: center;
}

@media(max-width: 768px) and (max-width: 1024px) {
  .bottom-footer {
    float: left;
    width: 100%;
  }
}

/*** index page ***/
.arrow {
  text-align: center;
  margin: 8% 0;
  color: black;
}


.index-pagetop{
  padding-top: 70px;
  width: 100%;
  text-align: center;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .index-pagetop {
    float:left;
    width:100%;
  }
}

.photos-link {
  padding: 8px 16px;
  background: #767286;
  line-height: 2;
  font-weight: 700;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 10px;
  display: inline-block;
}

.photos-link1:hover {
  background-color: #5B2423;
}
  @media(max-width: 768px) {
    .prototype-links, .project-link {
      display:none;
    }
  }

/*** typography ***/
h1 {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 30px;
  padding-bottom: 10px;
  line height: 140%;
  text-align: center;

}

@media(max-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 22px;
  }
}

h2 {
  color: 	#D4E0D5;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 10%;
  text-align: center;
  text-transform: uppercase;
  margin-right: 8px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 22px;
    line-height: 20px;
  }
}

h3 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 10%;
}
@media(max-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 18px;
    line-height: 22px;
  }
}

h4 {
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  line-height: 10%;
}

    @media(max-width: 768px) and (max-width: 1024px) {
      h4 {
      font-size: 22px;
      line-height: 16px;
    }
  }

h5 {
  color: #340C18;
  font-family: 'Playfair display', sans-serif;
  font-size: 36px;
  font-weight: lighter;
  text-align: center;

}
  @media(max-width: 768px) and (max-width: 1024px) {
    h5 {
    font-size: 18px;
    line-height: 16px;
  }
}

h6 {
  color: #45445B;
  font-family: 'Baskerville', serif;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  margin: 0;

}
@media(max-width: 768px) and (max-width: 1024px) {
  h6 {
    font-size: 26px;
    line-height: 20px;
  }
}
p.small-text{
  font-style: italic;
  color: #000000;
  font-size:12px;
}
p.italic{
  font-style: italic;
  font-size:18px;
}
p {
  color: #45445B;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
}
@media(max-width: 768px) and (max-width: 1024px) {
  p {
    font-size: 16px;
    line-height: 26px;
  }
}

p.text {
  color: #696B6F;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 23px;
  text-align: justify;
  max-width: 78ch;

}
@media(max-width: 768px) and (max-width: 1024px) {
  p.text {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }
}

p.text-box {
  color: #696B6F;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 23px;
  text-align: justify;
  display:inline-block;
  max-width: 70%;

}
@media(max-width: 768px) and (max-width: 1024px) {
  p.text-box {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }
}

p.text-box2 {
  color: #696B6F;
font-family: Montserrat, sans-serif;
font-weight: lighter;
font-size: 14px;
line-height: 23px;
text-align: justify;
max-width: 70%;
display: inline-block;

}
p.text-big {
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

}
@media(max-width: 768px) and (max-width: 1024px) {
  p.text-big {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }
}
p.text-bold {
  color: #45445B;
  font-family: 'Baskerville', serif;
  font-size: 26px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;
}
p.text-footer {
  color: #D1D1D1;
  font-family: Montserrat, sans-serif;
  font-size: 11px;
  padding-top: 20px;
  text-align: center;
}

.wrapper-grid-survey {
  display: inline-grid;
  grid-template-columns: 500px;
  grid-gap: 5px;
}

@media(max-width: 768px) {
  .wrapper-grid-survey {
    grid-template-columns: 200px;
    padding:5px;

  }
}
ul.box {
  background: #DDD5DA;
  border-radius: 5px;
  padding: 20px;
}
ul.box li {
  background: #ffffff;
  margin: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #696B6F;
  padding:5px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .ul, .li {
    float:left;
    width:100%;
    padding:5px;

  }
}
.wrapper-grid-persona {
  display: inline-grid;
  grid-template-columns: 350px 350px;
  grid-gap: 15px;
}

@media(max-width: 768px) and (max-width: 1024px) {
  .wrapper-grid-persona {
    grid-template-columns: 200px;
    padding:5px;

  }
}

/*** about page ***/

.about-image{
  background-image: url("/images/aboutimage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  height: 300px;
  width: 100%;
}

.about-box{
  display:inline-block;
  text-align: center;
  background: white;
  padding: 10px;
  margin: 25px 0 25px 0;
}
/*** project page layout ***/

.prototype-links{
  text-align: center;
}
.project-link {
  padding: 8px 16px;
  background: #767286;
  line-height: 2;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin: 10px;
  display: inline-block;
}

.project-link1:hover {
  background-color: #5B2423;
}
  @media(max-width: 768px) and (max-width: 1024px) {
    .prototype-links, .project-link {
      float:left;
      width:100%;
      padding: 2px;
      margin-bottom: 20px;
      font-size: 14px;
    }
  }

  .link-small {
    padding: 4px 12px;
    background: #767286;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 10px;
    display: inline-block;
  }

  .link-hoover:hover {
    background-color: #5B2423;
  }
    @media(max-width: 768px) and (max-width: 1024px) {
      .prototype-links, .project-link {
        float:left;
        width:100%;
        padding: 2px;
        margin-bottom: 20px;
        font-size: 14px;
      }
    }
/*** project page boxes ***/

.image-flex{
  display:inline-block;
  width:100%;
}
.branding-div{
  text-align: center;
    background: white;
    padding: 30px;
    margin: 25px 0 25px 0;

}
.image-grid{
background: white;
padding: 15px;
display:inline;
width: 100%;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .image-grid {
    float:left;
    width:100%;
    padding: 2px;
    margin-bottom: 20px;
    font-size: 14px;
  }
}
.rolls-divider{
  text-align: center;
    background: white;
    padding: 15px;
    margin: 25px 0 25px 0;
    width:100%;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .rolls-divider {
    float:left;
    width:100%;
    padding: 2px;
    margin-bottom: 20px;
    font-size: 14px;
  }
}
ul.rolls {
    padding: 5px 30px 5px 30px;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #9f98a2;
    display: inline-grid;
  }
ul.rolls li {
    width:100%;
    color: #696B6F;
    padding: 8px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .rolls {
    float:left;
    width:100%;
    padding: 2px;
    margin-bottom: 20px;
    font-size: 14px;
  }
}
.banner-survey {
  position: relative;
  background-image: url(file:///Users/laurenmcelaney/Desktop/Website/images/surveyframestorage.png);
  background-size: contain;
  background-position: center;
  width: 100%;
  height:auto;
  margin: 0 auto;
}

.clipped {
  padding: 20px;
  width: 400px;
  background: white;
  -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}

.clipped > *
{
  max-width: 260px;
}
.thumbnail {
  max-width: 70%;
}
.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	max-width: 100%;
	max-height: 100%;
	margin-top: 2%;
}

.lightbox:target {
	outline: none;
	display: block;
}

img.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      max-width: 100% ;
      height: auto ;
}
.content-shadow{
  display:inline-block;
  text-align: center;
  background: white;
  padding: 10px;
  margin: 25px 0 25px 0;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .content-shadow{
    float: left;
    width: 100%;
    padding: 5px;
    margin: 10px 0 0 0;
  }
}

.split-1{
      display: inline-block;
      float: left;
      width: 50%;
      padding: 0 15px 0 15px;

}
@media(max-width: 768px) and (max-width: 1024px) {
  .split-1 {
    float:left;
    width:100%;
    padding: 5px;
    margin: 0;
  }
}
.split-2{
    display: inline-block;
    float: right;
    width: 50%;
    padding: 0 15px 0 15px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .split-2 {
    float:left;
    width:100%;
    padding: 5px;
    margin: 0;
  }
}

.split-3{
  display: inline-block;
  float: left;
  width:50%;
  padding: 20px;
  text-align: center;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .split-3 {
    float:left;
    width:100%;
    padding: 0;
    margin: 0;
  }
}

.split-4{
  display: inline-block;
  float: right;
  width:50%;
  padding: 20px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .split-4 {
    float:left;
    width:100%;
    padding: 0;
    margin: 0;
  }
}

.split-5{
  display: inline-block;
  float: left;
  background-color: white;
  width:50%;
  padding: 10px;
  margin-top: 15px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .split-5 {
    float:left;
    width:100%;
    padding: 0;
    margin: 0;
  }
}
.split-6{
  display: inline-block;
  float: right;
  background-color: white;
  width:50%;
  padding: 10px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .split-6 {
    float:left;
    width:100%;
    padding: 0;
    margin: 0;
  }
}
.split-background{
  background-color: #FFFFFF;
  width: 100%;
  height: auto;
  padding: 10px;
  display: inline-block;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .split-background {
    float:left;
    width:100%;
    background-color: #ffffff;
    padding: 10px;
    margin: 0;
  }
}
#section2{
  display:inline-block;
}
