*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

/*** header + footer ***/
.contenttop{
  display: inline-block;
}
@media(max-width: 700px) {
  .contenttop{
    float: left;
    width: 100%;
  }
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  width:920px;
  border-width: 1px;
}

@media(max-width: 700px) {
    hr{
    float: left;
    width: 100%;
  }
}
.container-class {
  position: relative;
  padding-top: 10px;
  float: left;
  display: block;
}

@media(max-width: 1024px) {
  .container-class {
    top: 10px;
  }
}

@media(max-width: 760px) {
  .container-class {
    top: 0;
  }
}

.content-box{
  float: left;
  width: 920px;
  padding: 40px;
  display: inline-block;
}

.maintitle {
  display: inline-block;
 text-align: left;
 width: 100%;
 padding-top: 10px;
 padding-left: 50px;

}
@media(max-width: 760px) {
  .maintitle {
    width:100%;
    float: left;
    text-align: left;
  }
}

.main-link {
  line-height: 2;
  font-weight: 700;
  color: #45445B;
  text-align: center;
  display:inline-block;
  justify-content: center;
}

.main-link1:hover {
  color: #5B2423;
}

.logo-top {
  width: 106px;
  height: 74px;
   background-position: left;
  padding-top: 10px;
  padding-left: 20px;
  display:inline-block;
}
@media(max-width: 700px) {
  .logo-top, .maintitle{
    float: left;
  }
}
.menu {
  color: #340C18;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  float: right;
  margin: 2rem 1rem 0 0;
  text-transform: uppercase;
  text-align: right;
}

.menu li {
  display: inline-block;
  color: #340C18;
  padding: .5rem;
}

.bottom-footer {
  position:relative;
  float:left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display:inline-block;
  margin: 5px;
}

@media(max-width: 1000px) {
  .bottom-footer {
    float: left;
    width: 100%;
  }
}

@media(max-width: 700px) {
  .bottom-footer {
    float: left;
    width: 100%;
  }
}
/*** index page ***/
.photos-container {
  position: relative;
  float: left;
  width: 50%;
}
.image-home {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

@media(max-width: 1024px) {
  .photos-container, .image-home {
    float: left;
    width: 50%;
    top: 50px;
  }
}

@media(max-width: 700px) {
  .photos-container, .image-home {
    float: left;
    width: 100%;
    top: 10px;
  }
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.photos-container:hover .image-home {
  opacity: 0.3;
}

.photos-container:hover .middle {
  opacity: 1;
}

/*** typography ***/
h1 {
  color: #45445B;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 30px;
  padding-bottom: 10px;
  line height: 140%;
  text-align: center;

}

@media(max-width: 700px) {
  h1 {
    font-size: 22px;
  }
}

h2 {
  color: 	#000000;
  font-family: 'Baskerville', serif;
  font-size: 22px;
  line-height: 120%;
  font-weight:100;
  text-align: center;
  margin-right: 8px;
}
@media(max-width: 700px) {
  h2 {
    font-size: 22px;
    line-height: 20px;
  }
}

h3 {
  color: #45445B;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 10%;
  text-align: left;
}
@media(max-width: 700px) {
  h3 {
    font-size: 18px;
    line-height: 22px;
  }
}

h4 {
  color: #45445B;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  line-height: 10%;
}
    @media(max-width: 700px) {
    h4 {
      font-size: 30px;
      line-height: 16px;
    }
  }

h5 {
  color: #2A126D;
  font-size: 15px;
  line-height: 120%;
  font-weight:600;
  text-align: center;
  padding-left: 3px

}

h6 {
  color: #45445B;
  font-family: 'Baskerville', serif;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  margin: 0;

}
@media(max-width: 700px) {
  h6 {
    font-size: 26px;
    line-height: 20px;
  }
}

p {
  color: #696B6F;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  text-align: justify;
}
@media(max-width: 700px) {
  p {
    font-size: 16px;
    line-height: 26px;
  }
}

p.text {
  color: #696B6F;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 23px;
  text-align: justify;
}
@media(max-width: 700px) {
  p.text {
    font-size: 16px;
    line-height: 26px;
  }
}


/*** about page ***/

.about-image{
  background-image: url(".../images/aboutimage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  height: 300px;
  width: 100%;
}

/*** project page layout ***/

.project-link {
  padding: 8px 16px;
  background: #767286;
  line-height: 2;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display:inline-block;
  justify-content: center;
}

.project-link1:hover {
  background-color: #5B2423;
}
  @media(max-width: 700px) {
    .project-link {
      float:left;
      width:100%;
      padding: 2px;
      margin-bottom: 20px;
      font-size: 14px;
    }
  }

/*** project page boxes ***/

@media(max-width: 700px) {
  .content-box{
    float: left;
    width: 100%;
    box-shadow: none;
  }
}

.right-img{
  float: right;
  padding: 10px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
.left-img{
    float: left;
    padding: 10px;
    }
    img {
      max-width: 100%;
      height: auto;
    }

.processbox{
  box-shadow: 0 0 30px rgba(0,0,0,.25);
  background-color: white;
  display:inline-block;
  width:920px;
  height: auto;
  padding: 30px;
  margin: 5px;
  word-wrap: break-word;
  float:left;
}

.solutionbox{
  box-shadow: 0 0 30px rgba(0,0,0,.25);
  background-color: white;
  display:inline-block;
  width:920px;
  height: auto;
  padding: 30px;
  margin: 5px;
  word-wrap: break-word;
  float:left;
}

@media(max-width: 700px) {
  .processbox, .solutionbox{
    float: left;
    width: 100%;
    box-shadow: none;
  }
}

.content-shadow{
  box-shadow: 0 0 30px rgba(0,0,0,.25);
  background-color: white;
  display:inline-block;
  width:920px;
  height: auto;
  padding: 30px;
  margin: 5px;
  word-wrap: break-word;
  float:left;
}
@media(max-width: 700px) {
  .content-shadow{
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }
}
.content-shadow-small{
  box-shadow: 0 0 30px rgba(0,0,0,.25);
  background-color: white;
  display:inline-block;
  width:800px;
  height: auto;
  padding: 30px;
  margin: 5px;
  margin-left: 60px;
  word-wrap: break-word;
  float:left;
}
@media(max-width: 700px) {
  .content-shadow-small{
    float: left;
    width: 95%;
    margin:0;
    padding:0;
    box-shadow: none;
  }
}
