*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  background-image: url("/images/backgroundweb.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size:contain;

}

img {
  border-style: none;
  text-align: center;
  max-width:100%;

}
@media (max-width:1024px) {
  img {
  padding: 10px;
  max-width:100%;
  }
}


.scroll-animations {
  display: flex;
}

.scroll-animations div {
  flex-grow: 1;
  text-align: center;
  opacity: 0;
  color: #333;
}

.scroll-animations div span {
  font-size: 4em;
  color: #5AA9E0;
}

.scroll-animations div h3 {
  font-size: 1.9em;
  font-weight: 400;
  margin-bottom: 10px;
}

/* Media queries */
@media (max-width: 759px) {
.scroll-animations {
    display: block;
  }

  .scroll-animations div {
    padding: 20px 80px;
  }
}
.container {
  position: relative;
  display: inline-block;
  max-height: 400px;
  width: 40%;
}

@media (max-width:1024px) {
  .container {
   width: 100%;
   padding: 20px;
  }
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
@media (max-width:1024px) {
  .image {
  padding: 10px;
  }
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
@media (max-width:1024px) {
  .middle, .text {
    display: contents;
      position: relative;
  }
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}


.text {
  background-color: transparent;
}
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  max-height: 60px;
}

.header ul {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
  background-color: white;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
      border-right:0;
  }
  .header li a {
    padding: 5px 20px 5px 20px;
    border-right: 1px solid #f4f4f4;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

#navbar {
  background-color: white;
  top: 0;
}


.menu {
  font-family: 'Raleway', sans-serif;
  float: right;
  text-align: right;
  overflow:hidden;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.menu a {
  float: left;
  display: block;
  color: #4A4A4A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
}

.menu a.active {
  background-color: #4CAF50;
  color: white;
}

.menu .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu a:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .menu.responsive {position: relative;}
  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*** header + footer ***/
.contenttop{
  display: inline-block;
  width: 100%
}
@media(max-width: 768px) and (max-width: 1024px) {
  .contenttop{
    float: left;
    width: 100%;
  }
}



hr {
  display: block;
margin-top: 4em;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: auto;
border-style: solid;
width: 850px;
border-width: .5px;
color: #bbbbbb;
}

@media(max-width: 768px) and (max-width: 1024px) {
    hr{
    float: left;
    width: 100%;
  }
}
.container-class {
  position: relative;
  display: block;
}

@media(max-width: 768px) {
  .container-class {
    top: 0;
    width:100%;
    float:left;
  }
}
@media(min-width: 1199px) {
  .container-class {
    top: 0;
    width:100%;
    float:left;
  }
}

.maintitle {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;

}
@media(max-width: 768px) and (max-width: 1024px) {
  .maintitle {
    width:100%;
    float: left;
    text-align: center;
    padding: 20px;
  }
}

.indextitle {
  display: inline-block;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 40px;
    width: 100%;

}
@media(max-width: 768px) and (max-width: 1024px) {
  .indextitle {
    width:100%;
    float: left;
    text-align: center;
    padding: 20px;
  }
}

.main-link {
  line-height: 2;
  font-weight: 700;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  text-align: center;
  display:inline-block;
  justify-content: center;
  margin: 5px;
  padding-right: 20px;
}

.main-link1:hover {
  color: #5B2423;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .main-link, .main-link1 {
    font-size: 16px;
    line-height: 22px;
  }
}

.logo-top {
  width: 40px;
  height: auto;
  display:inline-block;
  float:left;
  margin: 10px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .logo-top{
    float: left;
    width:40px;
  }
}


.logo {
  width: auto;
  height: 200px;
  text-align: center;
  margin: 5px 15px 5px 15px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  text-align: center;
  max-width: 700px;
  padding: 10px;
  height:auto;
}

.column2 {
  float: left;
  text-align: center;
  max-width: 700px;
  padding: 10px;
  height:auto;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.content-box{
  float: left;
  width: 100%;
  display: inline-block;
  text-align: center;

}
@media(max-width: 768px) and (max-width: 1024px) {
  .content-box {
    float:left;
    width:100%;
  }
}
.sticky {
  position: fixed;
  top:0;
  width:100%;
}

.sticky + .content-box {
  padding-top: 80px;
}




.bottom-footer {
  position:relative;
  float:left;
  padding-top: 60px;
  padding-bottom: 10px;
  display:inline-block;
  width: 100%;
  height:auto
}

.bottom-footer-links {
    width: 100%;
    text-align: center;
}

@media(max-width: 768px) and (max-width: 1024px) {
  .bottom-footer {
    float: left;
    width: 100%;
  }
}

/*** index page ***/
.skills-container{
  display: inline-grid;
    grid-template-columns: 300px 300px 300px;
    padding: 5px;
    text-align: center;
}
@media(max-width: 768px) {
    .skills-container {
      float: left;
      grid-template-columns: 100%;
      padding: 0px 50px 0px 50px;
      text-align: center;
      width: 100%;
      margin: 10px 0 0 0;
    }
  }
.skills-item1{
   background-image: url("/images/skills1.png");
   background-repeat: no-repeat;
  background-size: auto;
   padding: 10px;
   font-size: 14px;
   font-family: 'Raleway', sans-serif;
   line-height: 24px;
   position: relative;
 }
 .skills-item2{
    background-image: url("/images/skills2.png");
    background-repeat: no-repeat;
   background-size: auto;
    padding: 10px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    position: relative;
  }
 .skills-item3{
   background-image: url("/images/skills3.png");
   background-repeat: no-repeat;
  background-size: auto;
    padding: 10px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    position: relative;
  }
  @media(max-width: 768px) {
      .skills-item1, .skills-item2, .skills-item3 {
    float: left;
    padding: 30px;
    grid-row-gap: 10px;
    margin: 10px 0 0 0;
      }
    }
.about-container{
      display: inline-grid;
        grid-template-columns: 100%;
        padding: 5px;
        text-align: center;
}
 @media(max-width: 768px) {
        .about-container {
          float: left;
          grid-template-columns: 100%;
          padding: 0px 50px 0px 50px;
          text-align: center;
          width: 100%;
          margin: 10px 0 0 0;
        }
      }
.about-item1{
       padding: 10px;
       font-size: 14px;
       font-family: 'Raleway', sans-serif;
       line-height: 24px;
       max-width: 68ch;
       position: relative;
}
  @media(max-width: 768px) {
          .about-item1 {
        float: left;
        padding: 30px;
        grid-row-gap: 10px;
        margin: 10px 0 0 0;
    }
  }

.aboutme-front{
  display:inline-block;
  text-align: center;
}
.arrow {
  text-align: center;
  margin: 8% 0;
  color: black;
  padding-top: 40px;
}

.blackarrow{
  color:#373737;
}
.index-pagetop{
  padding-top: 70px;
  width: 100%;
  text-align: center;
  background-color: white;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .index-pagetop {
    float:left;
    width:100%;
  }
}
.index-image {
  position: relative;
  display: block;
    max-width: 700px;
    margin: 0 auto;
}

.content {
  bottom: 0;
  padding-bottom: 10px;
  text-align: center;
}

@media(max-width: 768px) and (max-width: 1024px) {
  .content {
    float:left;
    width:100%;
  }
}
.photos-link {
  padding: 8px 16px;
  background: #767286;
  line-height: 2;
  font-weight: 700;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 10px;
  display: inline-block;
}

.photos-link1:hover {
  background-color: #5B2423;
}
  @media(max-width: 768px) {
    .prototype-links, .project-link {
      display:none;
    }
  }
/*** contact ***/
.form{
  width: 400px;
  display: inline-block;
  padding: 20px;
  font-family: montserrat;
}
.button, input, optgroup, select, textarea{
  font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.15;
    margin: 5px;
    padding: 10px;
    width: 300px;
    height: 40px;
    border: 1px solid black;
}

.button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
    background-color: black;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 20px;
  }

.contact-form{
  width: 100%;
  text-align: center;
  display: inline-block;
}

/*** resume ***/
.resume-box{
  display: inline-block;
  text-align: center;
  background: white;
  padding: 10px;
  margin: 100px 0 25px 0;
}

/*** typography ***/
h1 {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  text-align: center;

}

@media(max-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 14px;
  }
}

h2 {
  color: #383838;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-right: 8px;
  max-width: 64ch;
}
@media(max-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 16px;
    line-height: 20px;
  }
}

h3 {
  color: #6F6240;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 10%;
}
@media(max-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 18px;
    line-height: 22px;
  }
}

h4 {
  color: #373737;
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  line-height: 10%;
}

    @media(max-width: 768px) and (max-width: 1024px) {
      h4 {
      font-size: 22px;
      line-height: 16px;
    }
  }

h5 {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  text-align: center;
  line-height:32px;

}
  @media(max-width: 768px) and (max-width: 1024px) {
    h5 {
    font-size: 18px;
    line-height: 16px;
  }
}

h6 {
  color: #45445B;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  margin: 0;

}
@media(max-width: 768px) and (max-width: 1024px) {
  h6 {
    font-size: 26px;
    line-height: 20px;
  }
}
p.small-text{
  font-style: normal;
  color: #000;
  font-size:12px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  p.small-text {
    font-size: 12px;
    text-align: center;
  }
}
p.italic{
  font-style: italic;
  font-size:14px;
}
p {
  color: #816C52;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  line-height: 22px;
  text-align: center;
}
@media(max-width: 768px) and (max-width: 1024px) {
  p {
    font-size: 16px;
    line-height: 26px;
  }
}

p.text {
  color: #816C52;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 23px;
  text-align: justify;
  max-width: 68ch;
  padding-top: 40px;

}
@media(max-width: 768px) and (max-width: 1024px) {
  p.text {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }
}
p.front {
  color: #383838;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    margin-right: 8px;
    max-width: 64ch;

}
@media(max-width: 768px) and (max-width: 1024px) {
  p.front {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }
}

p.text-box {
  color: #816C52;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 23px;
  text-align: justify;
  display:inline-block;
  max-width: 64ch;

}
@media(max-width: 768px) and (max-width: 1024px) {
  p.text-box {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    padding: 10px;
  }
}

p.text-big {
  color: #847850;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

}
@media(max-width: 768px) and (max-width: 1024px) {
  p.text-big {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    padding: 0 20px 0 20px;
  }
}
p.text-bold {
  color: #373737;
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;
}
@media(max-width: 768px) and (max-width: 1024px) {
  p.text-bold {
    font-size: 26px;
    line-height: 26px;
    text-align: center;
  }
}

p.text-footer {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  font-style: italic;
  padding-top: 20px;
  text-align: center;
}


ul.box {
  padding: 0px 20px 20px 20px;
}
ul.box li {
  margin: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6A6748;
  line-height: 22px;
  text-align: left;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .ul, .li {
    float:left;
    width:100%;
    padding:5px;

  }
}

.persona-grid {
  display: inline-grid;
  width: 850px;
  grid-template-columns: 260px 260px 260px;
  text-align: left;
  grid-row-gap: 20px;
  border-left: 8px solid #000;
  padding: 5px 5px 0px 5px;
}

@media(max-width: 768px) {
    .persona-grid {
      float: left;
    grid-template-columns: 100%;
    width: 80%;
    padding: 5px;
    margin: 30px;
    }
  }
.persona1{
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  line-height: 12px;
  position: relative;
  padding: 10px;
  text-align: center;

}

/*** about page ***/

.about-image{
  background-image: url("/images/aboutimage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  height: 300px;
  width: 100%;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .about-image {
    margin-top: 0px;
  }
}

.about-box{
  display:inline-block;
  text-align: center;
  background: white;
  padding: 10px;
  margin: 25px 0 25px 0;
}
/*** project page layout ***/

.images-box{
  vertical-align: middle;
}
.prototype-links{
  text-align: center;
}
.project-link {
  padding: 8px 16px;
  background: #767286;
  line-height: 2;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin: 10px;
  display: inline-block;
}

.project-link1:hover {
  background-color: #5B2423;
}
  @media(max-width: 768px) and (max-width: 1024px) {
    .prototype-links, .project-link {
      float:left;
      width:100%;
      padding: 2px;
      margin-bottom: 20px;
      font-size: 14px;
    }
  }

  .link-small {
    padding: 4px 12px;
    background: #000;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;
    margin: 10px;
    display: inline-block;
  }

  .link-hoover:hover {
    background-color: #C4C4C4;
  }
    @media(max-width: 768px) and (max-width: 1024px) {
      .prototype-links, .project-link {
        float:left;
        width:100%;
        padding: 2px;
        margin-bottom: 20px;
        font-size: 14px;
      }
    }
/*** project page boxes ***/


.branding-div{
  text-align: center;
    background: white;
    padding: 30px;
    margin: 25px 0 25px 0;

}
@media(max-width: 768px) and (max-width: 1024px) {
  .branding-div{
    float: left;
    width: 100%;
    padding: 5px;
    margin: 10px 0 0 0;
  }
}
.image-grid{
      display: inline-block;
    text-align: center;
    position: relative;
  }
@media(max-width: 768px) and (max-width: 1024px) {
  .image-grid {
    float: left;
    width: 100%;
    padding-left: 50px;
  }
}
.rolls-divider{
  text-align: center;
    background: transparent;
    padding-top: 20px;
    width:100%;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .rolls-divider {
    float:left;
    width:100%;
    padding: 2px;
    margin-bottom: 20px;
    font-size: 14px;
  }
}
ul.rolls {
    padding: 5px 30px 5px 30px;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #373737;
    display: inline-grid;
  }
ul.rolls li {
    width:100%;
    color: #696B6F;
    padding: 8px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .rolls {
    float:left;
    width:100%;
    padding: 2px;
    margin-bottom: 20px;
    font-size: 14px;
  }
}

ul.bullet-box {
    list-style-type: circle;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: #816C52;

  }
ul.bullet li {
    width:100%;
    color: #816C52;
}

img.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      max-width: 100% ;
      height: auto ;
}


.grid{
  display: inline-grid;
    grid-template-columns: 300px 1fr;
    width: 100%;
    padding: 5px;
    grid-column-gap: 5px;
    text-align: center;
    }


.grid-1{
  padding: 20px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  line-height: 24px;
  position: relative;
}
@media(max-width: 768px){
  .grid-1{
    padding: 5px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 24px;
    position: relative;
  }
}
.grid-2{
  padding: 20px;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  line-height: 24px;
  position: relative;
}
@media(max-width: 768px){
  .grid{
    float: left;
    grid-template-columns: 100%;
    width: 100%;
        padding: 25px;
    margin: 10px 0 0 0;
  }
}


#section2{
  display:block;
}
