*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

/*** header + footer ***/
.contenttop{
  display: inline-block;
  width: 100%
}
@media(max-width: 768px) and (max-width: 1024px) {
  .contenttop{
    float: left;
    width: 100%;
  }
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  width:100%;
  border-width: 1px;
}

@media(max-width: 768px) and (max-width: 1024px) {
    hr{
    float: left;
    width: 100%;
  }
}
.container-class {
  position: relative;
  padding-top: 10px;
  display: block;
}

@media(max-width: 768px) {
  .container-class {
    top: 0;
    width:100%;
    float:left;
  }
}
@media(min-width: 1199px) {
  .container-class {
    top: 0;
    width:100%;
    float:left;
  }
}

.maintitle {
  display: inline-block;
 text-align: left;
 width: 100%;
 padding-top: 10px;
 padding-left: 50px;

}
@media(max-width: 768px) and (max-width: 1024px) {
  .maintitle {
    width:100%;
    float: left;
    text-align: left;
  }
}

.main-link {
  line-height: 2;
  font-weight: 700;
  color: #45445B;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  text-align: center;
  display:inline-block;
  justify-content: center;
  margin: 5px;
  padding-right: 20px;
}

.main-link1:hover {
  color: #5B2423;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .main-link, .main-link1 {
    font-size: 16px;
    line-height: 22px;
  }
}

.logo-top {
  width: 106px;
  height: auto;
  display:inline-block;
  float:left;
  margin: 10px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .logo-top, .maintitle{
    float: left;
    width: auto;
    max-width: 100% ;
    height: auto ;
    padding: 20px;
  }
}


.content-box{
  float: left;
  width: 100%;
  padding:100px;
  display: inline-block;

}
@media(max-width: 768px) and (max-width: 1024px) {
  .content-box {
    float:left;
    width:100%;
   padding: 20px;
  }
}
.sticky {
  position: fixed;
  top:0;
  width:100%;
}

.sticky + .content-box {
  padding-top: 80px;
}


.menu {
      color: #340C18;
      font-family: Montserrat, sans-serif;
      font-weight: lighter;
      font-size: 18px;
      float: right;
      text-transform: uppercase;
      text-align: right;
  }

.menu li {
  display: inline-block;
  color: #340C18;
  padding: .5rem;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .menu {
    font-size: 16px;
    float: right;
    width: 50%;
  }
}

#navbar {
  overflow: hidden;
  background-color: white;
  top:0;
}
@media(max-width: 768px) and (max-width: 1024px) {
  #navbar {
    top: 0;
    float: left;
    position: fixed;
  }
}

.bottom-footer {
  position:relative;
  float:left;
  padding-top: 10px;
  padding-bottom: 10px;
  display:inline-block;
  width: 100%;
  height:auto
}

.bottom-footer-links {
    width: 100%;
    text-align: center;
}

@media(max-width: 768px) and (max-width: 1024px) {
  .bottom-footer {
    float: left;
    width: 100%;
  }
}

/*** index page ***/
.arrow {
  text-align: center;
  margin: 8% 0;
  color: black;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media(max-width: 768px) {
  .arrow, .bounce {
      display:none !important;
    }
  }
.index-pagetop{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top:70px;
  width: 100%;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .index-pagetop {
    float:left;
    width:100%;
  }
}

.photos-link {
  padding: 8px 16px;
  background: #767286;
  line-height: 2;
  font-weight: 700;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 10px;
  display: inline-block;
}

.photos-link1:hover {
  background-color: #5B2423;
}
  @media(max-width: 768px) {
    .prototype-links, .project-link {
      display:none;
    }
  }

/*** typography ***/
h1 {
  color: #45445B;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 30px;
  padding-bottom: 10px;
  line height: 140%;
  text-align: center;

}

@media(max-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 22px;
  }
}

h2 {
  color: 	#5F4156;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 10%;
  text-align: center;
  text-transform: uppercase;
  margin-right: 8px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  h2 {
    font-size: 22px;
    line-height: 20px;
  }
}

h3 {
  color: #45445B;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 10%;
  text-align: left;
}
@media(max-width: 768px) and (max-width: 1024px) {
  h3 {
    font-size: 18px;
    line-height: 22px;
  }
}

h4 {
  color: #45445B;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  line-height: 10%;
}
    @media(max-width: 768px) and (max-width: 1024px) {
      h4 {
      font-size: 22px;
      line-height: 16px;
    }
  }

h5 {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 10%;
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: underline;

}
  @media(max-width: 768px) and (max-width: 1024px) {
    h4 {
    font-size: 18px;
    line-height: 16px;
  }
}

h6 {
  color: #45445B;
  font-family: 'Baskerville', serif;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  margin: 0;

}
@media(max-width: 768px) and (max-width: 1024px) {
  h6 {
    font-size: 26px;
    line-height: 20px;
  }
}

p {
  color: #222138;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  text-align: left;
}
@media(max-width: 768px) and (max-width: 1024px) {
  p {
    font-size: 16px;
    line-height: 26px;
  }
}

p.text {
  color: #696B6F;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 23px;
  text-align: center;

}
@media(max-width: 768px) and (max-width: 1024px) {
  p.text {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }
}

p.text-box {
  color: #696B6F;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 23px;
  text-align: justify;
  display:inline-block;
  max-width: 78ch;

}
@media(max-width: 768px) and (max-width: 1024px) {
  p.text-box {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }
}
p.text-big {
  color: #696B6F;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
}
@media(max-width: 768px) and (max-width: 1024px) {
  p.text-big {
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }
}
p.text-bold {
  color: #45445B;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 16px;
  line-height: 16px;
  text-align: justify;
}

ul.box {
  background: #F2F2F2;
  padding: 20px;
}
ul.box li {
  background: #ffffff;
  margin: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #696B6F;
  padding:5px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .ul, .li {
    float:left;
    width:100%;
    padding:5px;

  }
}

/*** about page ***/

.about-image{
  background-image: url("/images/aboutimage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  height: 300px;
  width: 100%;
}

/*** project page layout ***/
.prototype-links{
  text-align: center;
}
.project-link {
  padding: 8px 16px;
  background: #767286;
  line-height: 2;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  margin: 10px;
  display: inline-block;
}

.project-link1:hover {
  background-color: #5B2423;
}
  @media(max-width: 768px) and (max-width: 1024px) {
    .prototype-links, .project-link {
      float:left;
      width:100%;
      padding: 2px;
      margin-bottom: 20px;
      font-size: 14px;
    }
  }

  .link-small {
    padding: 4px 12px;
    background: #767286;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 10px;
    display: inline-block;
  }

  .link-hoover:hover {
    background-color: #5B2423;
  }
    @media(max-width: 768px) and (max-width: 1024px) {
      .prototype-links, .project-link {
        float:left;
        width:100%;
        padding: 2px;
        margin-bottom: 20px;
        font-size: 14px;
      }
    }
/*** project page boxes ***/

.thumbnail {
  max-width: 70%;
}
.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	max-width: 100%;
	max-height: 100%;
	margin-top: 2%;
}

.lightbox:target {
	outline: none;
	display: block;
}

img.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      max-width: 100% ;
      height: auto ;
}
.content-shadow{
  width:100%;
  height: auto;
  padding: 30px;
  margin: 5px;
  float:left;
  text-align: center;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .content-shadow{
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.split-1{
  display:inline-block;
  float:left;
  width:45%;
  padding:10px;
  margin-top: 15px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .split-1 {
    float:left;
    width:100%;
    padding: 0;
    margin: 0;
  }
}
.split-2{
  display: inline-block;
  float: right;
  width:45%;
  padding: 10px;
  margin-top: 15px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .split-2 {
    float:left;
    width:100%;
    padding: 0;
    margin: 0;
  }
}

.split-3{
  display: inline-block;
  float: left;
  width:50%;
  padding: 10px;
  text-align: center;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .split-3 {
    float:left;
    width:100%;
    padding: 0;
    margin: 0;
  }
}

.split-4{
  display: inline-block;
  float: right;
  width:50%;
  padding: 10px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .split-4 {
    float:left;
    width:100%;
    padding: 0;
    margin: 0;
  }
}

.split-5{
  display: inline-block;
  float: left;
  width:62%;
  padding: 10px;
  margin-top: 15px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .split-5 {
    float:left;
    width:100%;
    padding: 0;
    margin: 0;
  }
}
.split-6{
  display: inline-block;
  float: right;
  width:38%;
  padding: 10px;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .split-6 {
    float:left;
    width:100%;
    padding: 0;
    margin: 0;
  }
}
.split-background{
  background-color: #F2F2F2;
  width: 100%;
  height: auto;
  padding: 10px;
  display: inline-block;
}
@media(max-width: 768px) and (max-width: 1024px) {
  .split-background {
    float:left;
    width:100%;
    background-color: #F2F2F2;
    padding: 10px;
    margin: 0;
  }
}
