*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

/*** header + footer ***/
.contenttop{
  display: inline-block;
}
.container-class {
  margin: 0 auto;
  width: 812px;
  height: 349px;

}
.maintitle {
  display: inline-block;
 text-align: left;
 width: 100%;
 padding-top: 10px;
 padding-left: 50px;

}

.logo-top {
  width: 106px;
  height: 74px;
   background-position: left;
  padding-top: 10px;
  padding-left: 20px;
  display:inline-block;
}

.menu {
  color: #340C18;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  float: right;
  margin: 2rem 1rem 0 0;
  text-transform: uppercase;
  text-align: right;
}

.menu li {
  display: inline-block;
  color: #340C18;
  padding: .5rem;
}

.photos-container {
  position: relative;
  width: 50%;
}
.image-home {
  opacity: 1;
  display:  inline-block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.photos-container:hover .image-home {
  opacity: 0.3;
}

.photos-container:hover .middle {
  opacity: 1;
}

.bottom-footer {
  width: 812px;
  padding-top: 10px;
  padding-bottom: 10px;
  display:inline-block;
  justify-content: center;
}

/*** typography ***/
h1 {
  color: #45445B;
  font-family: Baskerville, serif;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 10px;
  line height: 140%;
  text-align: center;

}


h2 {
  color: 	#000000;
  font-family: 'Baskerville', serif;
  font-size: 22px;
  line-height: 120%;
  font-weight:500;
  text-align: center;
  margin-right: 8px;


}

h3 {
  color: #45445B;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 10%;
  text-align: left;
}

h4 {
  color: #45445B;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  line-height: 10%; }

}

h5 {
  color: #2A126D;
  font-size: 15px;
  line-height: 120%;
  font-weight:600;
  text-align: center;
  padding-left: 3px

}

h6 {
  color: #45445B;
  font-family: 'Baskerville', serif;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin: 0;

}

.main-link {
  line-height: 2;
  font-weight: 700;
  color: #45445B;
  text-align: center;
  display:inline-block;
  justify-content: center;
}

.main-link1:hover {
  color: #5B2423;
}

/*** about page ***/

.about-image{
  background-image: url("file:///Users/laurenmcelaney/Desktop/Website/images/aboutimage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  height: 300px;
  width: 100%;
}

/*** project page layout ***/

.problem{
  color: #092448;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  width: 512px;
  padding-left: 30px;
  margin: 0px;
}

.solution{
  color: #092448;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  width: 512px;
  padding-left: 30px;
  margin: 0px;
}

.project-link {
  padding: 8px 16px;
  background: #767286;
  line-height: 2;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  display:inline-block;
  justify-content: center;
}

.project-link1:hover {
  background-color: #5B2423;
}

/*** project page boxes ***/
.flexbox {
  padding: 10;
  margin: 10;
  width: 700px;
  display: flex;
  justify-content: space-around;
}

.float-box-left {
    padding:10px;
    margin: auto;
    box-shadow: 0 0 30px rgba(0,0,0,.25);
    background-color: white;

}
.float-box-solution {
    padding:10px;
    margin: auto;
    box-shadow: 0 0 30px rgba(0,0,0,.25);
    background-color: white;
}

.float-box-problem {
    padding:10px;
    margin: auto;
    box-shadow: 0 0 30px rgba(0,0,0,.25);
    background-color: white;
}

.smallerbox {
  color: #696B6F;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  background-color: #F2F2F2;
  width: 730px;
  padding: 20px;
  }

.box-solution {
  color: #696B6F;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  width: 402px;
  padding: 20px;
  display: inline-block;
  float: right;
  }

.box-problem {
    color: #696B6F;
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    line-height: 26px;
    width: 402px;
    padding: 20px;
    display: inline-block;
    float: left;
    }

.shadow, .img-shadow {
  width: 812px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 0;
}
.personas {
  padding: 5px;
  width: 200px;
  height: auto;
  margin-top: 10px;
}
/*** project page content styles ***/
.process{
  color: #092448;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  width: 1024px;
  padding-left: 30px;
  margin: 0px;
}
.wireframing {
  color: #696B6F;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  width: 812px;
  padding: 20px;
  margin: 0px;
  display: inline-block;
}
.usersurveys{
  color: #696B6F;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  width: 812px;
  padding-left: 80px;
  margin: 4px;
}

.results-survey{
  color: #696B6F;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  width: 812px;
  padding-left: 80px;
  margin: 4px;
}
.userpersonas{
  color: #696B6F;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  width: 812px;
  padding-left: 80px;
  margin: 4px;
}
.userstories {
  color: #696B6F;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  width: 812px;
  padding-left: 80px;
  margin: 4px;
  display: inline-block;
}
