*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.contenttop{
  display: inline-block;
}
.container-class {
  margin: 0 auto;
  width: 1154px;
  height: 349px;

}
.maintitle {
  display: inline-block;
 text-align: left;
 width: 100%;
 padding-top: 10px;
 padding-left: 50px;

}

.logo-top {
  width: 106px;
  height: 74px;
   background-position: left;
  padding-top: 10px;
  padding-left: 20px;
  display:inline-block;
}

.menu {
  color: #340C18;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  float: right;
  margin: 2rem 1rem 0 0;
  text-transform: uppercase;
  text-align: right;
}

.menu li {
  display: inline-block;
  color: #340C18;
  padding: .5rem;
}

.box {
  color: #45445B;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 16px;
  line-height: 26px;
  padding: 5rem;
  width: 100%;
}
.about-image{
  background-image: url("file:///Users/laurenmcelaney/Desktop/Website/images/aboutimage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
  height: 300px;
  width: 100%;
}

.problem{
  color: #092448;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  width: 512px;
  padding-left: 30px;
  margin: 0px;
}

.solution{
  color: #092448;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  width: 512px;
  padding-left: 30px;
  margin: 0px;
}

.flexbox {
  padding: 10;
  margin: 10;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}
.personas {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
}


.process{
  color: #092448;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  width: 1024px;
  padding-left: 30px;
  margin: 0px;
}

.usersurveys{
  color: #696B6F;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  width: 812px;
  padding-left: 80px;
  margin: 4px;
}
.user-map{
  color: #092448;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 26px;
  width: 812px;
  padding-left: 80px;
  margin: 4px;
}

.results-survey{
  width: 812px;
  padding-left: 80px;
  margin: 4px;
}
.userpersonas{
  color: #696B6F;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 22px;
  width: 812px;
  padding-left: 80px;
  margin: 0px;
}

.images{
    display:  flex;
     align-items: left;
     justify-content: flex-start;
     flex-direction: row;
     width: 812px;
     text-align: left;
     margin: auto;
}

.userstories {
    align-items: center;
    display: flex;
    flex-direction:  row;
    flex-wrap:  wrap;
    margin: 0;
  }

.flex-about {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

.flex-wrap {
    align-items: center;
    display: flex;
    flex-direction:  row;
    flex-wrap:  wrap;
    margin: 0;
  }
h1 {
  color: #45445B;
  font-family: Baskerville, serif;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 30px;
  line height: 140%;

}


h2 {
  color: 	#808080;
  font-size: 14px;
  line-height: 120%;
  font-weight:500;
  text-align: right;
  margin-right: 8px;


}

h3 {
  color: #45445B;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  line-height: 10%;
  text-align: left;
}

h4 {
  color: #45445B;
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  line-height: 10%; }

}

h5 {
  color: #2A126D;
  font-size: 15px;
  line-height: 120%;
  font-weight:600;
  text-align: center;
  padding-left: 3px

}

h6 {
  color: #45445B;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: auto;

}




#photos {
  /* Prevent vertical gaps */
  line-height: 1;

  -webkit-column-count: 5;
   -webkit-column-gap:   5px;
   -moz-column-count:    5;
   -moz-column-gap:      5px;
   column-count:         5;
   column-gap:           5px;
 }


#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto;
}

@media (max-width: 1600px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}



.location {
  box-sizing: border-box;
  width: 100%;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 3px;
  padding-bottom: 6px;
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;


}

.location:hover {
  background-color: #ECECEC;
}
.location > * {
  flex: 1 100%;
}
.data1 {
  flex: 0 1 110px;
}
.data2 {
flex: 1;
}

.data3 {
  flex: 0 1 120px;
}
