*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  background-color: #FAFAFA;
}

.top {
  display: inline-block;
    text-align: center;
    padding: 32px 0 32px;
    width: 100%;

}
img.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 130px;
      max-width: 100% ;
      height: auto ;
}
table, td, th {
  border: 1px solid #D9D9D9;
  background-color: white;
}


table {
  border-collapse: collapse;
    width: 100%;
    justify-content: center;
    margin: auto;
    table-layout: auto;
max-width: 500px;
}

th, td {
  padding: 32px;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: left;
  font-family: Arial, sans-serif;
  font-weight: 400;
  max-width: 58ch;
  color: #333333;
}

p.coleman{
  color: #4E515E;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;
  font-family: Arial, sans-serif;
}

p.address{
  color: #333333;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.bottom-footer {
  position:relative;
  float:left;
  display:inline-block;
  width: 100%;
}
