*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  background-size: auto;
    background-repeat: no-repeat;
    margin: 0px;
    width: 100%;
}
.galleryouter{
  display: flex;
  margin: auto;
      padding: 24px 0;
}
@media(max-width: 768px) and (max-width: 1024px){
  .galleryouter{
    display: inline-flex;
text-align: center;
flex-direction: row;
flex-wrap: wrap;
row-gap: 16px;
  }
}

img.vector{
  border-style: none;
text-align: center;
height: 100%;
}
.gallery {
  margin: 5px;
  border: 1px solid white;
  float: left;
  width: 100%;
}
@media(max-width: 768px) and (max-width: 1024px){
  .gallery{
      max-width: 100%;
      margin: auto;
  }
}

.gallery:hover {
  border: 1px solid #000;
}

.gallery img {
  width: 100%;
  height: 100%;
  padding:10px;
}

.desc {
  text-align: center;
}


.main-image{
	background-image:url(jackie.png);
	background-repeat:no-repeat;
	background-size:cover;
  width:100%;
}
.border{
  border: 1px solid white;
  padding: 24px;
}
.main{
  display: grid;
  grid-template-rows: max-content;
  grid-gap: 10px;
  justify-content: space-evenly;
  width:100%;
  margin: auto;
  position:relative;
  padding: 20%;
  top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main > div{
  text-align: center;
}
.item{
  box-sizing: border-box;

}
.m1{
font-family: 'Martel', serif;
font-weight: 200;
text-align: center;
font-size: calc(112.5% + 4vw);
letter-spacing: 0;
color: white;
margin: auto;

}

.m2{
font-family: 'Fraunces', serif;
text-align: center;
font-size: 10vw;
letter-spacing: 0;
color: white;
top: 50%;
margin: auto;
}



.m3{
font-family: 'Fraunces', serif;
text-align: center;
font-size: calc(24px + 3vw);
letter-spacing: 0;
color: black;
font-weight: 300;

}

p.bodysmall {
  color: black;
  font-family: 'Avenir', sans-serif;
  font-size: calc(14px + .2vw);
  line-height: 1.5;
  text-align: center;
}
p.bodyitalic {
  color: black;
  font-family: 'Avenir', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  font-style: italic;
}

p.bodylarge {
  color: black;
  font-family: 'Avenir', sans-serif;
  font-size: calc(16px + .5vw);
  line-height: 1.5;
  text-align: center;
}
p.body2 {
  color: black;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  max-width: 64ch;
  margin: auto;
}

p.body3 {
  color: black;
  font-family: 'Avenir', sans-serif;
	font-weight: 600;
  font-size: calc(16px + .3vw);
  line-height: 1.5;
  text-align: center;
	letter-spacing: 1.25px;
}

p.body4 {
  color: black;
  font-family: 'Avenir', sans-serif;
	font-weight: 700;
  font-size: calc(16px + .3vw);
  line-height: 1.5;
  text-align: center;
    max-width: 64ch;
    margin: auto;
    padding:24px 0;
}

p.caps {
	color: black;
  font-family: 'Avenir', sans-serif;
  font-size: calc(16px + .3vw);
  line-height: 1.5;
  text-align: center;
	text-transform: uppercase;
	letter-spacing: 1.25px;
}

p.courier {
	color: black;
  font-family: 'Courier New', sans-serif;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
	letter-spacing: 1.25px;
}
p.footer {
	color: black;
  font-family: 'Avenir', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #818181;
  max-width: 64ch;
  margin: auto;
}

.color-row{
	display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 50px;
margin: auto;
}

hr.solid {
  border: 1px solid #FFFFFF;
	width: 80%;
}


.splide__slide img {
  width: 100%;
  height: auto;
}
animation {
  opacity: 0;
  transition: opacity .5s .25s ease-out;
}

animation.is-visible {
  opacity: 1;
}

.main-photo {
  transform: scale(.8);
}

.heading {
  transform: translate(-50%, calc(-50% + 1em));
}

.is-visible .main-photo {
  transform: none;
}

.is-visible .heading {
  transform: translate(0%, 0%);
}

.main-photo,.heading {
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              filter 10s 2s ease-out;
  will-change: transform;
}

.dresses-container{
	position: static;
    display: grid;
    height: auto;
    width: 100%;
    padding: 64px 24px;
    grid-template-rows: repeat(4, min-content) 1fr;
    grid-template-columns: 100%;
		background-color: #FDF8F2;
}

.inside-dresses{
	position: static;
    display: grid;
    height: auto;
    min-height: auto;
		text-align: center;
		margin: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
		background-color: #FDF8F2;
}

.dresses{
	display: flex;
margin: 0 auto;
position: relative;
width: 100%;
align-items: center;
 justify-content: center;
 background-color: #FDF8F2;

}
@media(max-width: 768px) and (max-width: 1024px){
  .dresses{
    display: inline-flex;
    padding: 24px;
    text-align: center;
        flex-direction: column;
  }
}

img.primary {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      max-width: 100% ;
      height: auto ;
}

@media(max-width: 768px) and (max-width: 1024px){
  img.primary{
 	 width: 100%;
    text-align: center;
  }
}

.champagne {
	display: inline-grid;
      grid-gap: 10px;
      grid-template-rows:1fr;
      width:100%;
      padding: 64px;
      margin: auto;
      height: max-content;
      background-color: #F7EFE9;
}

@media(max-width: 768px) and (max-width: 1024px){
  .champagne{
    float: left;
      grid-template-rows: auto;
      width: 100%;
      padding: 32px;
  }
}


.champagne-dress {

    text-align: center;
}

@media(max-width: 768px) and (max-width: 1024px){
  .champagne-dress{
    padding: 0 20px 0 20px;
    text-align: center;
  }
}

.taupe {
	display: inline-grid;
      grid-gap: 10px;
      grid-template-rows:1fr;
      width:100%;
      padding: 64px;
      margin: auto;
      height: max-content;
      background-color: #D9B4A1;
}

@media(max-width: 768px) and (max-width: 1024px){
  .taupe{
    float: left;
      grid-template-rows: auto;
      width: 100%;
      padding: 32px;
  }
}


.taupe-dress {

    text-align: center;
}

@media(max-width: 768px) and (max-width: 1024px){
  .taupe-dress{
    padding: 0 20px 0 20px;
    text-align: center;
  }
}


.gold {
	display: inline-grid;
      grid-gap: 10px;
      grid-template-rows:1fr;
      width:100%;
      padding: 64px;
      margin: auto;
      height: max-content;
      background-color: #ffe0c3;
}

@media(max-width: 768px) and (max-width: 1024px){
  .gold{
    float: left;
      grid-template-rows: auto;
      width: 100%;
      padding: 32px;
  }
}


.gold-dress {

    text-align: center;
}

@media(max-width: 768px) and (max-width: 1024px){
  .gold-dress{
    padding: 0 20px 0 20px;
    text-align: center;
  }
}

.gold-dress2 {
    padding: 48px 0 0;
    text-align: center;
}

@media(max-width: 768px) and (max-width: 1024px){
  .gold-dress2{
    padding: 24px 0 0;
    text-align: center;
  }
}


.grid-container-front2 {
  display: inline-grid;
      grid-gap: 10px;
      grid-template-rows:1fr;
      width:100%;
      padding: 64px;
      margin: auto;
      height: max-content;
      background-color: #E5E9D5;
}


.grid-item-front1 {
  padding: 20px;
    font-size: 30px;
    text-align: center;
}



@media(max-width: 768px) and (max-width: 1024px){
  .grid-item-front1{
    padding: 0 20px 0 20px;
    text-align: center;
  }
}



@media(max-width: 768px) and (max-width: 1024px){
  .grid-container-front2, {
    float: left;
      grid-template-rows: auto;
      width: 100%;
      padding: 32px;
  }
}



img {
  border-style: none;
  text-align: center;
  max-width:100%;

}



@media (max-width:1024px) {
  img {
  padding: 10px;
  max-width:100%;
  }
}

a:link {
  color: inherit;
  text-decoration: none:
}
a {
  outline: none;
  text-decoration: none;
}



.animation {
  display: grid;
}

.scroll-animations div {
  flex-grow: 1;
  text-align: center;
  opacity: 0;
  color: #333;
}

.scroll-animations div span {
  font-size: 4em;
  color: #5AA9E0;
}

.scroll-animations div h3 {
  font-size: 1.9em;
  font-weight: 400;
  margin-bottom: 10px;
}

/* Media queries */
@media (max-width: 759px) {
.scroll-animations {
    display: block;
  }

  .scroll-animations div {
    padding: 20px 80px;
  }
}
.container {
      position: relative;
      float: left;
      display: inline-block;
      width: 100%;
      margin-top: 20px;
          padding-bottom: 5px;
}
@media (max-width:1024px) {
  .container {
   width: 100%;
   padding: 20px;
  }
}

.header {
  background-color: #FDF8F2;
width: 100%;
z-index: 3;
max-height: 100px;
padding: 16px;
margin: auto;
text-align: center;
}

@media(max-width: 768px) and (max-width: 1024px) {
  .header{
    width: 100%;
  }
}

.header:after {
    clear: both;
}
.header:before, .header:after {
    content: "";
    display: table;}

.header ul {
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: white;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
  background-color: white;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
      border-right:0;
  }
  .header li a {
    padding: 5px 20px 5px 20px;
    border-right: 1px solid #f4f4f4;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

#navbar {
  background-color: white;
  top: 0;
}

/*** header + footer ***/

.container-class {
  position: relative;
  display: block;
}

@media(max-width: 768px) {
  .container-class {
    top: 0;
    width:100%;
    float:left;
  }
}
@media(min-width: 1199px) {
  .container-class {
    top: 0;
    width:100%;
    float:left;
  }
}

.content-box{
  float: left;
  display: inline-block;
  text-align: center;
  width: 100%;


}
@media(max-width: 768px) and (max-width: 1024px) {
  .content-box {
    float:left;
    width:100%;
  }
}
.sticky {
  position: fixed;
top: 0;
width: 100%;
background-color: rgba(255, 255, 255, 0.56);
transition: all .5s ease-in-out;
z-index: 4;
height:80px;
}

@media(max-width: 768px) and (max-width: 1024px) {
  .sticky {
    position: fixed;
    width:100%;
  }
}

.sticky + .content-box {
  padding-top: 80px;
}




.bottom-footer {
  position:relative;
  float:left;
  padding: 24px;
  display:inline-block;
  width: 100%;
  background-color: white;
}

.bottom-footer-links {
    width: 100%;
    text-align: center;
}

@media(max-width: 768px) and (max-width: 1024px) {
  .bottom-footer {
    float: left;
    width: 100%;
  }
}

  .link-small {
    padding: 16px 30px;
    background: #FDF8F2;
    color: #000000;
    text-align: center;
    display: inline-block;
		font-family: 'Avenir', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 33px;
		letter-spacing: 2px;
		text-align: left;t

  }

  @media(max-width: 768px) and (max-width: 1024px) {
    .link-small {
      float:left;
      width:100%;
      text-align:center;
      padding: 12px 12px;
      margin-bottom: 20px;
      font-size: 14px;
    }
  }

  .link-hoover:hover {
    background-color: black;
		color:#FDF8F2;
  }
/*** project page boxes ***/

img.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: auto;
      max-width: 100% ;
      height: auto ;
}
